* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  /*width: 85vw;
  max-width: 1900px;*/
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
}



nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: #FFFFFF33;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.navbar-cart-icon {
  font-size: 1.15rem;
}

.primary-button:hover {
  background-color: rgb(234, 234, 234);
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.home-container {
  background: linear-gradient(to right, #C722AE 0%, #ECD2E8 100%);
  width: 100%;
  padding-left: 50px;
  height: auto;
  box-sizing: border-box;
  position: relative;
}



.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;

}

.home-bannerImage-container {

  max-width: 600px;
  flex: 1;

}


.home-image-section {
  max-width: 600px;
  flex: -2;
}

.home-banimg {
  max-width: 600px;
  margin-bottom: 100px;
}

.primary-heading {
  font-size: 50px;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.listing {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  font-family: Arial, sans-serif;
}

.listing img {
  width: 100%;
  height: auto;
}

.details {
  padding: 15px;
}

.details h2 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

.details p {
  margin: 5px 0;
  color: #666;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.rating .icon {
  color: gold;
  margin-left: 5px;
}

.about-general {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  background: white;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 468px;
  box-sizing: border-box;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h3 {
  margin: 10px 0 5px;
}

.team-member p {
  margin: 0;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  max-width: 600px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}

.search-container {
  display: flex;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 100px;
}

.search-container input[type="text"] {
  flex: 1;
  padding: 12px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.search-container input[type="text"]:focus {
  border-color: #007bff;
}

.search-container select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.search-container select:focus {
  border-color: #007bff;
}


.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

.card-container {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  text-underline-position: from-font;
  margin: 50px;
  width: Fill (1, 440px)px;
  height: Fixed (665px)px;
  padding: 0px 0px 0px 100px;
  gap: 40px;
  opacity: 0px;

}

.card-oro {
  width: 100px;
  height: 120px;
}

.card-container p {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

.card-container-other {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 100px;
  padding: 0px 0px 0px 0px;
  padding-right: -100px;


}

.cardvisa-image {
  max-width: 600px;
  width: 612.71px;
  height: 571.44px;
  gap: 0px;
  border-radius: 29.28px 0px 0px 0px;
  border: 0px 0px 2.93px 2.93px;
  opacity: 0px;
  border-width: 0px, 0px, 2.93px, 2.93px;
  border-style: solid;
  border-color: #FFFFFF80;
  flex: 1;
  

}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.button-container-lineone,
.button-container-linetwo,
.button-container-linethree {
  display: flex;
  gap: 20px;
}

button {
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #00000080;
  border-radius: 16px 0 0 0;
  padding: 15px 30px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.button-container-lineone button:nth-child(1) {
  width: 254px;
  height: 62px;
  padding: 16px 0 0 0;
  border-radius: 16px 16px 16px 16px;
}

.button-container-lineone button:nth-child(2) {
  width: 303px;
  height: 62px;
  padding: 16px 0 0 0;
  border-radius: 16px 16px 16px 16px;
}

.button-container-linetwo button:nth-child(1) {
  width: 282px;
  height: 62px;
  padding: 16px 0 0 0;
  border-radius: 16px 16px 16px 16px;
}

.button-container-linetwo button:nth-child(2) {
  width: 226px;
  height: 62px;
  padding: 16px 0 0 0;
  border-radius: 16px 16px 16px 16px;
}

.button-container-linethree button {
  width: 242px;
  height: 62px;
  padding: 16px 0 0 0;
  border-radius: 16px 16px 16px 16px;
}




.hi-container {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;

}

.hi-container-label {
  display: flex;
  flex-direction: column;
  flex: 1 1 40rem;
  padding: 2rem 2.5rem;
  border: none;
}

.hi-container-align {
  flex: 1 1 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hi-icon-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.hi-icon-one {
  width: 100%;
  height: auto;
  position: relative;
}

.hi-icon-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
}

form {
  margin-top: 20px;
}

.label-hi {
  display: block;
  margin-bottom: 5px;
}

.input-hi,
.textarea-hi {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-hi {
  background-color: pink;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.feedback-section {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 30px auto;
  max-width: 800px;

}

.feedback-header {
  position: absolute;
  right: 850px;
  z-index: -1;
  text-align: center;

}



.feedback-header-align {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.feedback-icon {
  width: 30px;
  height: 30px;
}

.feedback-header-align h4 {
  color: #6D6D6D;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  left: 25px;
  font-size: 18px;
  margin: 0;
}


.feedback-icon {
  width: 30px;
  height: 30px;
}

.feedback-title {
  font-size: 18px;
  margin: 0;
}


.feedback-header p {
  color: #666;
  margin-bottom: 20px;
}

.feedback-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 200px;
  text-align: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 250px;
  z-index: 2;


}

.feedback-arrow {
  background-color: #e0e7ff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}

.feedback-card {
  background: #fbefff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 20px;
  margin-left: 300px;
  text-align: left;
  max-width: 500px;
  position: relative;
  width: 505px;
  height: 457px;
  border: 1px;

}

.feedback-quote {
  font-size: 40px;
  color: #FFCC00;
  position: absolute;
  top: 10px;
  left: 20px;
}

.feedback-text {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.5;
  padding: 0 10px;
  width: 426px;
  height: 198px;
  top: 163.5px;
  left: 714px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
}

.feedback-line {
  width: 317px;
  height: 0px;
  top: 387.5px;
  left: 1067px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border-color: #B3B3B3;
  align-items: center;
  text-align: center;
  margin: 0 auto;

}

.feedback-user {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.title-gras {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.sous-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;

}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
  font-size: 16px;
}

.user-rating {
  font-size: 14px;
  color: #FFC107;
}

.line-break {
  display: block;
}


.footer {
  background-color: #fbefff;
  min-height: 445px;
  width: 100rem;
  top: 5401px;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  margin-left: 0;
  margin-right: 0;

  box-sizing: border-box;

}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}



.footer-column {
  margin: 10px;

}

.footer-column h4 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.footer-column h4 p {
  padding: 5px;
}

.footer-column ul {
  list-style: none;
  padding: 20px;
}

.footer-column ul li {
  margin-bottom: 5px;
  padding: 5px;

}

.footer-column ul li a {
  text-decoration: none;
  color: #666;
}

.footer-column ul li a:hover {
  color: #0036FF;
}

.footer-column textarea {
  width: 100%;
  height: 15rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.footer-column button {
  background-color: #0036FF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-column button:hover {
  background-color: #001F80;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  margin: 0 10px;
  text-decoration: none;
  color: #0036FF;
}

.social-media a:hover {
  text-decoration: underline;
}


.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  background-color: #e48f0f;
}


.about-section-container {
  margin-top: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}

.about-section-image-container {
  flex: 0.9;
  margin-right: 1rem;
}

.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}

.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  margin-top: 10rem;
}

.footer-logo-container {
  max-width: 110px;
}

.footer-icons {
  margin-top: 2.5rem;
}

.footer-icons svg {
  font-size: 2rem;
  margin-right: 1.25rem;
  color: blue;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 20px;
}

.footer-icons {
  display: flex;
  gap: 10px;
}



.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}

.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .primary-button {
    font-size: 1rem;
  }

  .home-bannerImage-container {
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }

  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: flex;
  }

  .home-bannerImage-container {
    max-width: 450px;
  }

  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .about-section-container {
    flex-direction: column;
  }

  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }

  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }

  .about-section-container {
    margin-top: 5rem !important;
  }

  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }

  .primary-subheading {
    text-align: center;
  }

  .about-section-image-container {
    margin-right: 0rem !important;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }

  .footer-section-columns {
    margin: 1rem 0rem;
  }

  .App {
    max-width: 95vw;
  }
}

@media (max-width: 600px) {

  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}